@import url('keyframes.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
    transition: background-color 0.3s linear;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 100px;
    left: 0;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* Voices */

.voice1 {
    position: relative;
    animation: blur-skew 1s infinite linear alternate-reverse;
}

.voice1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: blur 5s infinite linear alternate-reverse;
}

.voice1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: blur-2 1s infinite linear alternate-reverse;
}

.voice2 {
    font-style: italic;
}

/* Sounds */
.sound0 {
    background-color: black;
}

.sound9 {
    animation: high-pitch 41s linear;
}

.sound10 {
    background-color: #76ff9a;
}

.sound11 {
    background-color: black;
}