@keyframes blur {
    0% {
        clip: rect(89px, 9999px, 68px, 0);
        transform: skew(0.22deg);
    }
    5% {
        clip: rect(17px, 9999px, 47px, 0);
        transform: skew(0.12deg);
    }
    10% {
        clip: rect(63px, 9999px, 12px, 0);
        transform: skew(0.62deg);
    }
    15% {
        clip: rect(43px, 9999px, 81px, 0);
        transform: skew(0.27deg);
    }
    20% {
        clip: rect(92px, 9999px, 3px, 0);
        transform: skew(0.13deg);
    }
    25% {
        clip: rect(44px, 9999px, 23px, 0);
        transform: skew(0.6deg);
    }
    30% {
        clip: rect(5px, 9999px, 93px, 0);
        transform: skew(0.17deg);
    }
    35% {
        clip: rect(82px, 9999px, 15px, 0);
        transform: skew(0.5deg);
    }
    40% {
        clip: rect(91px, 9999px, 10px, 0);
        transform: skew(0.56deg);
    }
    45% {
        clip: rect(80px, 9999px, 25px, 0);
        transform: skew(0.58deg);
    }
    50% {
        clip: rect(7px, 9999px, 57px, 0);
        transform: skew(0.53deg);
    }
    55% {
        clip: rect(59px, 9999px, 65px, 0);
        transform: skew(0.16deg);
    }
    60% {
        clip: rect(51px, 9999px, 61px, 0);
        transform: skew(0.34deg);
    }
    65% {
        clip: rect(99px, 9999px, 65px, 0);
        transform: skew(0.96deg);
    }
    70% {
        clip: rect(96px, 9999px, 20px, 0);
        transform: skew(0.97deg);
    }
    75% {
        clip: rect(16px, 9999px, 15px, 0);
        transform: skew(0.49deg);
    }
    80% {
        clip: rect(15px, 9999px, 12px, 0);
        transform: skew(0.17deg);
    }
    85% {
        clip: rect(50px, 9999px, 94px, 0);
        transform: skew(0.84deg);
    }
    90% {
        clip: rect(25px, 9999px, 53px, 0);
        transform: skew(0.82deg);
    }
    95% {
        clip: rect(26px, 9999px, 56px, 0);
        transform: skew(0.97deg);
    }
    100% {
        clip: rect(14px, 9999px, 53px, 0);
        transform: skew(0.46deg);
    }
}

@keyframes blur-2 {
    0% {
        clip: rect(63px, 9999px, 35px, 0);
        transform: skew(0.06deg);
    }
    5% {
        clip: rect(1px, 9999px, 59px, 0);
        transform: skew(0.19deg);
    }
    10% {
        clip: rect(83px, 9999px, 9px, 0);
        transform: skew(0.88deg);
    }
    15% {
        clip: rect(67px, 9999px, 18px, 0);
        transform: skew(0.66deg);
    }
    20% {
        clip: rect(68px, 9999px, 72px, 0);
        transform: skew(0.7deg);
    }
    25% {
        clip: rect(16px, 9999px, 71px, 0);
        transform: skew(0.9deg);
    }
    30% {
        clip: rect(37px, 9999px, 25px, 0);
        transform: skew(0.44deg);
    }
    35% {
        clip: rect(87px, 9999px, 73px, 0);
        transform: skew(0.41deg);
    }
    40% {
        clip: rect(66px, 9999px, 60px, 0);
        transform: skew(0.18deg);
    }
    45% {
        clip: rect(64px, 9999px, 44px, 0);
        transform: skew(0.07deg);
    }
    50% {
        clip: rect(40px, 9999px, 65px, 0);
        transform: skew(0.93deg);
    }
    55% {
        clip: rect(40px, 9999px, 87px, 0);
        transform: skew(0.14deg);
    }
    60% {
        clip: rect(72px, 9999px, 34px, 0);
        transform: skew(0.45deg);
    }
    65% {
        clip: rect(21px, 9999px, 3px, 0);
        transform: skew(0.57deg);
    }
    70% {
        clip: rect(59px, 9999px, 41px, 0);
        transform: skew(0.98deg);
    }
    75% {
        clip: rect(42px, 9999px, 19px, 0);
        transform: skew(0.65deg);
    }
    80% {
        clip: rect(65px, 9999px, 60px, 0);
        transform: skew(0.94deg);
    }
    85% {
        clip: rect(14px, 9999px, 52px, 0);
        transform: skew(0.42deg);
    }
    90% {
        clip: rect(4px, 9999px, 48px, 0);
        transform: skew(0.06deg);
    }
    95% {
        clip: rect(91px, 9999px, 16px, 0);
        transform: skew(0.56deg);
    }
    100% {
        clip: rect(11px, 9999px, 72px, 0);
        transform: skew(0.1deg);
    }
}

@keyframes blur-skew {
    0% {
        transform: skew(0deg);
    }
    10% {
        transform: skew(2deg);
    }
    20% {
        transform: skew(-1deg);
    }
    30% {
        transform: skew(3deg);
    }
    40% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(4deg);
    }
    60% {
        transform: skew(3deg);
    }
    70% {
        transform: skew(3deg);
    }
    80% {
        transform: skew(-3deg);
    }
    90% {
        transform: skew(4deg);
    }
    100% {
        transform: skew(-2deg);
    }
}
  
@keyframes high-pitch {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}